html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/*header 부분*/
/* header {
  width: 100%;
  height: 48px;
  padding: 8px;
  padding-left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header > div > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding-left: 12px;
}

header > div > a:hover {
  text-decoration: underline;
}

.gmail-image-link {
  margin: 0px 10px;
}

.menuIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 8px;
  margin-right: 10px;
  border-radius: 50%;
}

.menuIcon:hover {
  background-color: lightgray;
}

.menuIcon > i {
  color: black;
}

.userInfoBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoBtn:hover {
  background-color: lightgray;
}

.userInfo {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
} */

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  margin-right: 15px;
}

.gmail {
  font-size: 14px;
  font-weight: bold;

  margin-right: 15px;
}

.imageText {
  font-size: 14px;
  font-weight: bold;

  margin-right: 15px;
}

.menuIcon {
  width: 24px;
  height: 24px;

  margin-right: 15px;
}

.userId {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

/* main 부분 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.googleLogo {
  margin-bottom: 38px;
}

.searchPannel {
  width: 561px;
  height: 44px;
  border: 1px solid gray;
  border-radius: 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.searchPannel > input {
  width: 465px;
  height: 42px;
  padding: 0;
  border: none;
  font-size: 20px;
  outline: 0;
  box-shadow: 0;
}

.mic {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chromeIconList {
  width: 560px;
  margin-top: 32px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;

  list-style: none;
}

.chromeIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 10px;
}

.chromeImage {
  width: 48px;
  height: 48px;
}

.chromeText {
  font-size: 14px;
  font-weight: bold;
}

/* footer 부분 */
/* footer {
  margin-top: 32px;
}

.linkList {
  height: 100px;
  display: flex;
  justify-content: center;
}

.linkList > ul {
  width: 600px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.linkList > ul > li {
  width: 100px;
  height: 112px;
  margin: 0px 10px;
}

.linkList > ul > li > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

.linkList > ul > li > a:hover {
  background-color: lightgray;
  border-radius: 5px;
}

.linkImg > img {
  width: 48px;
  height: 48px;
}

.linkName {
  font-size: 14px;
} */
